.user-profile-aside {
  color: white;
  background-color: #011627;
  margin: 0 0 20px 0;
}

.user-profile-aside__container {
  width: 95%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .user-profile-aside__container {
    flex-direction: column;
  }
}

.user-profile-aside__img {
  margin: 0 20px 0 0;
}

.user-profile-aside__username {
  color: #4FD1C5;
  font-family: 'Jetbrains Mono';
  font-size: 19px;
  font-weight: 700;
}

.user-profile-aside__content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

@media (max-width: 800px) {
  .user-profile-aside__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.user-profile-aside__bio {
  font-size: 14px;
  color: #e0d9d9;
}

@media (max-width: 800px) {
  .user-profile-aside__bio {
    margin: 12px 0 5px;
    align-items: center;
  }
}

.user-profile-aside__following {
  display: flex;
  align-items: center;
}
